html body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
}

.container-main {
    margin: 0 auto;
    max-width: 1700px;
    padding: 0 8px;
}

.textfield {
    width: 300px;
}

.textfield .MuiOutlinedInput-root {
    border-radius: 8px;
}
